# Shiplet — PHP/laravel
APP_PORT=80
APP_ENV=local
TZ=UTC
PHP_VERSION=8.3

# Laravel
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=mysql
LOG_CHANNEL=stack
BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

# MySQL
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=app
MYSQL_USER=shiplet
MYSQL_PASSWORD=secret
MYSQL_PORT=3306

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=shiplet
DB_PASSWORD=secret

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

# Mailpit (email)
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

# MinIO (S3)
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=shiplet
AWS_SECRET_ACCESS_KEY=secretsecret
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=local
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true
